<template name="homeScreen">

	{{#ionView}}
		{{#ionContent class="home-screen"}}
			<div class="slider-wrapper">
				{{#ionSlideBox showPager}}
				  {{#ionSlide}}
				  		<div>
							<i class="icon ion-ios-camera-outline"></i>
							<h1>Ta en bild av <br/>produktens streckkod</h1>
						</div>
					{{/ionSlide}}
					{{#ionSlide}}
				  		<div>
							<i class="icon ion-ios-paper-outline"></i>
							<h1>Läs om vad <br/>produkten innehåller</h1>
						</div>
					{{/ionSlide}}
					{{#ionSlide}}
				  		<div>
							<i class="icon ion-ios-nutrition-outline"></i>
							<h1>Ät och njut av <br/>din vegetariska mat</h1>
						</div>
					{{/ionSlide}}
				{{/ionSlideBox}}
			</div>
			<div class="footer">
				<button id="take-photo-button" class="button button-block button-calm">Ta en bild</button>
				<a href="{{pathFor 'infoScreen'}}"><button id="info-button" class="button button-clear">Läs mer om oss</button></a>
			</div>
		{{/ionContent}}
	{{/ionView}}
</template>