<template name="infoScreen">
	{{#contentFor "headerButtonLeft"}}
		{{>ionNavBackButton path="homeScreen" text=" "}}
  	{{/contentFor}}

  	{{#contentFor "headerTitle"}}
    	<h1 class="title">Om 100% Vegan</h1>
  	{{/contentFor}}

	{{#ionView}}
	{{#ionContent class="info-screen padding"}}
		<center>
			<img id="marke" src="/images/hundraprocentveganskt-marke.png" />
		</center>
		<h2>Om 100% Veganskt</h2>
		
		<p>Märkningen "100% VEGANSKT®. Godkänd av Djurens Rätt" är varumärkesregistrerad och Sveriges första egna veganska märkning. Den är enkel och tydlig för konsumenter som inte vill äta livsmedel med animaliska ingredienser.</p>

		<p>Med hjälp av denna App kan du på ett enkelt sätt kontrollera om produkter som ännu saknar märkning innehåller animaliska ingredienser. Allt du behöver göra är att, med hjälp av din mobiltelefon, fotografera streckkoden på produktens förpackning så söker appen upp information om dess innehåll i Djurens rätts databas med djurvänliga produkter.</p>

		<h2>Vad betyder symbolerna?</h2>

		<div class="row">
			<div class="col"><strong>Vegan</strong>  Produkten består helt av vegetabilier utan något inslag från djurriket, alltså varken kött, fisk, skaldjur, mjölkprodukter, ägg eller honung. Här räknas inte exempelvis förpackning in.</div>
  			<div class="col col-20"><img src="/images/icon-vegan.png" /></div>
		</div>

		<div class="row">
			<div class="col"><strong>Vegan*</strong>  Vegansk produkt som innehåller e-ämnen som kan ha animaliskt ursprung. Om det finns information från företaget som bekräftar att e-ämnets ursprung inte är animaliskt ska informationen finnas i faktatexten. Annars ska det vara märkt som okänt ursprung.</div>
  			<div class="col col-20"><img src="/images/icon-maybe-vegan.png" /></div>
		</div>

		<div class="row">
			<div class="col"><strong>Inte vegan </strong>  Produkter som räknas inom Livsmedelsverkets definition av vegetariskt mat men som innehåller mjölk, ägg, honung och/eller e-ämnen. </div>
  			<div class="col col-20"><img src="/images/icon-novegan.png" /></div>
		</div>

		<div class="row">
			<div class="col"><strong>Lakto-vegetariskt</strong>  Produkten innehåller vegetabilier och mjölkprodukter. </div>
  			<div class="col col-20"><img src="/images/icon-lacto.png" /></div>
		</div>

		<div class="row">
			<div class="col"><strong>Ovo-vegetariskt</strong>  Produkten innehåller vegetabilier och äggprodukter. </div>
  			<div class="col col-20"><img src="/images/icon-ovo.png" /></div>
		</div>

		<div class="row">
			<div class="col"><strong>Övriga animaliska ingredienser</strong> Produkten innehåller tillsatser som t.ex. animaliskt fett, bekräftade animaliska E-nummer, honung, D-vitamin, bivax eller karmin (E120).</div>
  			<div class="col col-20"><img src="/images/icon-other.png" /></div>
		</div>

		<h2>Övrig- & Allergiinformation</h2>

		<div class="row">
			<div class="col"><strong>Ekologisk</strong>  Produkten är ekologisk eller märkt med motsvarande internationell märkning. </div>
  			<div class="col col-20"><img src="/images/icon-organic.png" /></div>
		</div>

		<div class="row">
			<div class="col"><strong>Laktosfritt</strong>  Produkten är fri från lakotos. </div>
  			<div class="col col-20"><img src="/images/icon-lactosefree.png" /></div>
		</div>

		<div class="row">
			<div class="col"><strong>Glutenfritt</strong>  Produkten är fri från gluten. </div>
  			<div class="col col-20"><img src="/images/icon-glutenfree.png" /></div>
		</div>

		<h2>Kontakta oss</h2>

		<p>Har du synpunkter på produkten eller vill komma i kontakt med Djurens Rätt? Maila i så fall till <strong><a href="mailto:info@djurensratt.se">info@djurensratt.se</a></strong> eller ring <strong>08-555 914 00</strong>.</p>

	{{/ionContent}}
	{{/ionView}}
</template>