<template name="productScreen">

	{{> ionNavBar class="bar-calm"}}

	{{#contentFor "headerButtonLeft"}}
		{{>ionNavBackButton path="homeScreen" text=" "}}
  	{{/contentFor}}

  	{{#contentFor "headerTitle"}}
    	<h1 class="title">Produktinformation</h1>
  	{{/contentFor}}

	{{#ionView}}

		{{#if productUnapproved}}
		{{#ionSubheaderBar class="bar-energized"}}
			<h2 class="title">Väntar på godkännande!</h2>
		{{/ionSubheaderBar}}
		{{/if}}

		{{#if productFlagged}}
		{{#ionSubheaderBar class="bar-assertive"}}
			<h2 class="title">Anmäld som felaktig!</h2>
		{{/ionSubheaderBar}}
		{{/if}}

		{{#ionContent class="product-screen"}}
			{{#if foundProduct}}
				{{#ionList class="product"}}
					{{#ionItem class="text-center"}}
						<p><img class="veg-icon" src="/images/{{veganOrNot}}" /></p>
					{{/ionItem}}
					{{#ionItem}}
						<h1>{{product.title}}</h1>
						<p>{{product.subtitle}}</p>
					{{/ionItem}}
					{{#ionItem}}
						<label for="brand">Tillverkare</label>
						<p name="brand">{{product.brand}}</p>
					{{/ionItem}}
					{{#ionItem}}
						<label for="category">Kategori</label>
						<p name="category">{{categoryName}}</p>
					{{/ionItem}}
					{{#ionItem}}
						<label for="gtin">EAN Kod</label>
						<p name="gtin">{{product.gtin}}</p>
					{{/ionItem}}
					{{#if product.general_comment}}
						{{#ionItem class="item-text-wrap"}}
							<label for="general_comment">Kommentar</label>
							<p name="general_comment">{{product.general_comment}}</p>
						{{/ionItem}}
					{{/if}}
					{{#ionItem class="markers"}}
						<label>Innehållsinformation</label>
						{{#if product.ingredients.contains_eggs}}
							<p>Innehåller ägg.</p>
						{{/if}}
						{{#if product.ingredients.contains_animal_milk}}
							<p>Innehåller mjölkprodukter.</p>
						{{/if}}
						{{#if product.ingredients.contains_animal_ingredients}}
							<p>Innehåller animaliska ingredienser.</p>
						{{/if}}
						{{#if product.other.contains_traces_of_eggs}}
							<p>Kan innehålla spår av ägg.</p>
						{{/if}}
						{{#if product.other.contains_traces_of_milk}}
							<p>Kan innehålla spår av mjölk.</p>
						{{/if}}
						{{#if product.ingredients.additives_may_come_from_animal_origin}}
							<p>Produkten innehåller ingredienser som i sällsynta fall har animaliskt ursprung.</p>
						{{/if}}
						<div class="row">
							<div class="col {{glutenFreeClass}}"><img src="/images/icon-glutenfree.png" /></div>
							<div class="col {{organicClass}}"><img src="/images/icon-organic.png" /></div>
							<div class="col {{lactoseClass}}"><img src="/images/icon-lactosefree.png" /></div>
						</div>
					{{/ionItem}}

					{{#if productFlagged}}
					{{else}}
					<div class="item">
						<button class="button button-flag button-full button-outline button-assertive">Anmäl felaktig</button>
					</div>
					{{/if}}
				{{/ionList}}
			{{else}}
				<div class="padding center">
					<h2>Vi hittade inte produkten!</h2>
					<p>Produkten kunde tyvärr inte hittas i vår databas men du får gärna hjälpa oss genom att fylla i ett enkelt formulär. På så sätt skapar vi tillsammans en komplett databas som kan hjälpa andra som vill äta 100% veganskt.</p>
					<button id="addproduct-button" class="button button-calm" data-ion-modal="addProductModal">Lägg till produkten</button>
				</div>
			{{/if}}
		{{/ionContent}}
	{{/ionView}}
</template>